package model

const PluginSemVer = "v0.0.1" // TODO: update this to your plugin's version
const PluginName = "{{ .PluginConfig.Name }}"
const PluginCommand = "{{ .PluginConfig.Command }}"
const PluginOutputDir = "." // TODO: update this to your plugin's output directory

type PluginConfig struct {
    // TODO: add your plugin's configuration properties here. 'Name' is provided as an example
	Name    string `json:"name"`
}

type PluginData struct {
	PluginConfig PluginConfig `json:"{{ .PluginConfig.Command }}"`
}
