# --- start of instructions ---
NB: Delete these instructions to leave you with a README.md file for your plugin.

1. Update cmd/model/model.go with the info marked TODO

2. Update cmd/initialise/initialise.go with the info marked TODO, including the code for initialising the plugin

3. Update cmd/info/info.go and info.txt with the info marked TODO

4. Update cmd/generate/generate.go with the info marked TODO and the generate code

5. If your plugin uses the 'Add' command

6. Update the README.md below (items between angle brackets) and delete the text between these # --- instructions --- # lines

# --- end of instructions ---

# ![logo](./images/vision-logo.svg "Vision") &nbsp; Vision Plugin - {{ .PluginConfig.Name }}

This plugin <short description of what your plugin does>

Vision plugins require golang (https://go.dev) to be installed

## Install

Install the plugin with

```
go install {{ .PluginConfig.Module }}@latest
```

You will now see the plugin help in the vision cli

```
vision <plugin command> --help
```

You will now see the plugin available in vision's help

```
vision --help
```

The plugin will be listed in plugins list

```
vision plugins list
```

## Run

Create a <plugin> project

```
vision init <project name>
```

Switch to the project directory

```
cd <project name>
```

Initialise the <plugin> plugin

```
vision <plugin> init <parameters>
```
